<div class="flex items-center justify-center h-16 mt-auto bg-white border-t border-gray-200">
  <div class="footer">
    <a>Footer</a>
    <a href="https://github.com/ookam/yaminabe" class="block text-blue-700 underline">GitHubリポジトリはこちら</a>
  </div>
</div>
