<div class="flex items-center flex-col justify-center h-16 mt-auto bg-white border-t border-gray-200">
    <a>Footer</a>
    <a href="https://github.com/ookam/yaminabe" class="block text-blue-700 underline">GitHubリポジトリはこちら</a>
</div>
