<div class="flex items-center justify-center px-5 py-10 mt-auto text-sm tracking-wider">
  <a href="https://github.com/ookam/yaminabe" class="flex items-center pr-5 text-xs text-gray-400" target='_BLANK'>
    <i class="w-4 bi bi-github"></i>
    GitHubリポジトリ
  </a>
  <a href="https://twitter.com/sesere115" class="flex items-center pr-5 text-xs text-gray-400" target='_BLANK'>
    <i class="w-4 bi bi-twitter"></i>
    sesere115
  </a>
  <span class='text-xs text-gray-400'>
    product by Yaminabe
  </span>
</div>
