<div class="relative flex items-center justify-center text-xl font-bold tracking-wider bg-white border-b border-gray-100 dark:border-gray-700 h-14 dark:bg-gray-800">
  <a href="{{ '/' | url}}" class="block" id='js-rainbox-text'>Welcome to Yaminabe</a>
  {# ダークモードの切り替えボタン #}
  <div class='absolute top-0 bottom-0 z-10 flex items-center text-xs right-3'>
    <div class='px-1 text-gray-600' onclick='window.changeDarkMode(false)'>
      <i class="bi bi-brightness-high"></i>
    </div>
    <div class='px-1 text-gray-200' onclick='window.changeDarkMode(true)'>
      <i class="bi bi-moon"></i>
    </div>
  </div>
</div>

<script>
  $(function(){
    $('#js-rainbox-text').rainbow()
  });
</script>
