<div class="relative flex items-center justify-center text-xl font-bold tracking-wider bg-white border-b border-gray-100 dark:border-gray-700 h-14 dark:bg-gray-800">
  <a href="{{ '/' | url}}" class="block" id='js-rainbox-text'>Welcome to Yaminabe</a>
  {# ダークモードの切り替えボタン #}
  <div class='absolute z-10 flex items-center text-s top-2 bottom-2 right-3 cursor-pointer'>
    <div class='px-1 text-gray-600' onclick='window.changeDarkMode(false)'>
      灮
    </div>
    <div class='px-1 text-gray-200' onclick='window.changeDarkMode(true)'>
      䦣
    </div>
  </div>
</div>

<script>
  $(function(){
    $('#js-rainbox-text').rainbow()
  });
</script>
