---
layout: layouts/default_layout.njk
meta_tags:
  title: サンプルページ２
  description: サンプルページ２です。ディレクトリを切った際のサンプルとなります。
  url: ""
  ogp_image: ""
---

{% block content %}
  <p>
    ディレクトリを分割したsample2ファイルです。
  </p>
{% endblock %}
