---
layout: layouts/default_layout.njk
meta_tags:
  title: 開発に参加してくれた方々
  description: このサイトの開発に参加してくれたユーザーの方々です！
---

{% block content %}

<div id='js-github-contributors'>Loading...</div>


<script>
  $(function(){
    // ajaxで最新のリポジトリのハッシュを取得
    $.ajax(
      'https://api.github.com/repos/ookam/yaminabe/stats/contributors',
      {
        dataType: 'json',
        timeout: 10000,
        success: function(data, status, xhr){
          var $inner = $('<div></div>')
          $.each(data, function(index, value){
            var icon  = value.author.avatar_url
            var name  = value.author.login
            var url   = value.author.html_url
            var count = value.total
            $inner.append(`<div class='flex p-4'><a href='${url}'><img src='${icon}' class='block w-20 h-20'> name: ${name}, commit: ${count} </a></div>`)
          })
          $('#js-github-contributors').html($inner)
        }
      }
    )
  })
</script>

{% endblock %}
