---
layout: layouts/default_layout.njk
meta_tags:
  title: TOP PAGE
  description: TOP PAGE
---

{% block content %}

このサイトは何？

おめシスさんのプルリクだけでHPを作るやつを見て、自分も作りたくなったけど、まずサンプルとして「こんなのが作れるよ」ってやつを作らないといけないと思ったのでテスト的に作ってみた

どういう方向性にするかはまだ全然考えてないのでissueもプルリクも待ってます

{% endblock %}
