---
layout: layouts/default_layout.njk
meta_tags:
  title: TOP PAGE
  description: TOP PAGE
---

{% block content %}

このサイトは何？

おめシスさんのプルリクだけでHPを作るやつを見て、自分も作りたくなったけど、まずサンプルとして「こんなのが作れるよ」ってやつを作らないといけないと思ったのでテスト的に作ってみた

どういう方向性にするかはまだ全然考えてないのでissueもプルリクも待ってます

<a href="{{ '/logs/001' | url }}" class="block text-blue-700 underline">過去のログを見る #001</a>

<a href="{{ '/contributors' | url }}" class="block text-blue-700 underline">開発参加者の一覧を見る</a>

<div class="flex items-center">
  現在の世代は：
  <span class="px-1" id="js-github-commit-count">...</span>
  です
</div>

<script>
  $(function(){
    // ajaxで最新のリポジトリのハッシュを取得
    $.ajax(
      'https://api.github.com/repos/ookam/yaminabe/git/refs/heads/main',
      {
        dataType: 'json',
        timeout: 10000,
        success: function(data, status, xhr){
          check_sedai(data.object.sha)
        }
      }
    )

    // ajaxでコミットの数を取得
    function check_sedai(latest_commit_hash){
      // 一番最初のコミットのハッシュ
      var most_old_commit_hash = '07da7612008968b34ee44c9b3deda1c0b843726d'
      $.ajax(
        `https://api.github.com/repos/ookam/yaminabe/compare/${latest_commit_hash}...${most_old_commit_hash}`,
        {
          dataType: 'json',
          timeout: 10000,
          success: function(data, status, xhr){
            // behind = 間にx件あるのでそれに + 1 すればコミット数が取れる
            var count = data.behind_by + 1
            // js-github-commit-countにセットして終わり
            $('#js-github-commit-count').text(count)
          }
        }
      )
    }
  })
</script>

{% endblock %}
