---
layout: layouts/default_layout.njk
meta_tags:
  title: Yaminabe
  description: プルリクとissueをもらってオープンソースでHPを作るとどうなる？という遊びで作っているサイトです
---

{% block content %}

このサイトは何？

おめシスさんのプルリクだけでHPを作るやつを見て、自分も作りたくなったけど、まずサンプルとして「こんなのが作れるよ」ってやつを作らないといけないと思ったのでテスト的に作ってみた

どういう方向性にするかはまだ全然考えてないのでissueもプルリクも待ってます

<a href="{{ '/logs/001' | url }}" class="block text-blue-700 underline">過去のログを見る #001</a>

<a href="{{ '/contributors' | url }}" class="block text-blue-700 underline">開発参加者の一覧を見る</a>

<div class="flex items-center">
  現在の世代は：
  <span class="px-1">{{commit_count}}</span>
  です
</div>

<div>あなたは、<span id="js-visitor-count">{{ toppage_counter }}</span>人目の訪問者です。</div>

{% endblock %}
